


/* Aqui se esta agregando el pattern background */
body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(228, 229, 250, 0.822);    
}





/* Aqui se esta agregando las medidas/caracteristicas de la tarjeta */
.main__container {
    background-color: white;
    width: 450px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    margin: 100px;
}





    /*Aqui se esta agregando padding a la division main summary*/
    .main__summary {
        margin-left: 50px;
        margin-right: 50px;   
        margin-bottom: 10px;
    }

    /*Aqui se le esta asignando un tipo de letra y alineacion de 
    texto al main summary*/
    .summary__text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    }

    /*Aqui se le estan asignando las caracteristicas al bloque de 
    main plan*/
    .main__plan {
        background-color: lightcoral;   
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 10px;
        height: 10%;
    }

    .music__icon {
        background-color: lightyellow;
        display: inline-block;
        float: left;
        width: 25%;
    }   

    .plan__cost {
        background-color: lightgreen;
        display: inline-block;
        margin: 0px;
    }

    .annual__plan {
        background-color: lightgrey;
        display: inline-block;
        margin: 0px; 
    }   

    .plan__price {
        margin: 0px;
    }

    .change__plan {
        background-color: lightblue;
        display: inline-block;
        float: right;
        padding: 0px;
        margin: 0px;    
    }


    .payment {
        margin-top: 25px;
        margin-left: 50px;
        width: 350px;
    }

    .cancel {
        margin-top: 25px;
        margin-left: 50px;
        width: 350px;
    }

    




/*







*/


